.App {
    --header_height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 70px 32px;
    width: 100vw;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 100%;

    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 10px;
}